$color-primary: whitesmoke;

$color-blue: #2193b0;
$color-blue-grey: #6dd5ed;
$color-green: #43C59E;
$color-green-dark: #43c59e93;
$color-orange: #FFA62B;
$color-orange-light: #ecd8bc;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark: #777;
$color-grey-dark-2: #999;

$color-text: #777;

$color-white: #fff;
$color-black: #000;

/* #2193b0
#6dd5ed */

//  FONT SIZES
$default-font-size: 1.6rem;

//43C59E
//FFA62B

