.section-about {
    display: grid;
    grid-template-columns: repeat(12, minmax(min-content, 1fr));
 }
 .heading-secondary {
    grid-column: 1 / -1;
    justify-self: center;
 }
 .about-text {
    grid-column: 1 / 6;
    justify-self: center;
 }
 .about-image-composition {
    grid-column: 6 / 13;
    justify-self: center;
 }
 