.footer {
   background-color: $color-grey-dark-3;
   padding: 10rem 0;
   font-size: 1.4rem;
   display: flex;
   flex-direction: column;

   @include respond(tablet-portrait){
      padding: 8rem 0;
   }
  
   gap: 7rem;

   &__logo-box {
    align-self: center;
   }

   &__logo {
      width: 15rem;
      height: auto;
   }

   &__container {
      display: grid;
      grid-template-columns: max-content 15rem minmax(min-content, 41rem);
      justify-content: center;

      @include respond(tablet-landscape){
         grid-template-columns: min-content 5rem minmax(min-content, 41rem);
      }

      @include respond(phone){
         grid-template-rows: 1fr;
      }
     
   }

   &__navigation {
      grid-column: 1 / 2;
      border-top: 1px solid $color-grey-light-1;
      padding-top: 2rem;
      display: inline-block;

      @include respond(phone){
           grid-column: 1 / -1;
      }
   }

   &__list {
      list-style: none;
      display: flex;
      flex-direction: row;
      gap: 1.5rem;

      @include respond(phone){
         justify-content: space-evenly;
    }
   }

   &__item {
      display: inline-block;
   }

   &__link {
      &:link,
      &:visited {
         color: $color-grey-light-1;
         background-color: $color-grey-dark-3;
         text-decoration: none;
         text-transform: uppercase;
         display: inline-block;
         transition: all 0.3s;
      }

      &:hover,
      &:active {
         transform: rotate(5deg) scale(1.3);
         color: $color-blue;
         box-shadow: 0 1rem 2rem rgba($color-black, 0.4);
      }
   }

   &__copyright {
      grid-column: 3 / 4;
      border-top: 1px solid $color-grey-light-1;
      padding-top: 2rem;

      @include respond(phone){
         grid-column: 1 / -1;
    }
   }
}
