

.header {
    height: 95vh;
    background-image: linear-gradient(to right top, rgba($color-blue, .8), rgba($color-blue-grey, .8)), url("../img/20211121_160449.jpg");
    background-size: cover;
    background-position: top;
    position: relative;
 
    clip-path: polygon(0 0, 100% 0%, 100% 75vh, 0% 100%);
 
    &__logo-box {
     opacity: 0;
     position: absolute;
     top: 5.5rem;
     left: 4rem;
     /* animation-name: flyInSlim;
     animation-duration: 10s;
     animation-timing-function: ease-out;
     animation-delay: 4s;
     animation-iteration-count: 2;
     animation-direction: alternate; */
     animation: flyInSlim 5s ease-out 4s 2 alternate;
    }
 
    &__logo {
     height: 15rem;
    }
 
    &__text-box {
     position: absolute;
     top: 35%;
     left: 50%;
     transform: translate(-50%, -50%); 
     text-align: center;  
    }
 }

